.commentContainer {
  width: 100%;
  display: flex;
}

.commentMain {
  width: 80%;
}

.commentRight {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.commentHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 10px;
}

.commentHeader p {
  margin: 4px 0;
  font-size: 12px;
  color: #777777;
}

.commentContent {
  width: 100%;
  margin-top: 10px;
}
