.formContainer,
.noComments {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 600px;
}

.noComments {
  text-align: center;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 4px;
}

.nameInput,
.emailInput,
.commentInput {
  width: 100%;
  margin-bottom: 12px;
}

.commentsList {
  list-style-type: none;
  margin: 0 auto;
}

.commentsList li {
  border-bottom: 1px solid gray;
  padding: 12px 0;
}

.submitComment {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  background-color: transparent;
  color: navy;
  border: 1px solid navy;
}
