.noComments {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 600px;
}

.noComments {
  text-align: center;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 4px;
}

.commentsList {
  list-style-type: none;
  margin: 0 auto;
}

.commentsList li {
  border-bottom: 1px solid gray;
  padding: 12px 0;
}


